
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:700i');
.logo{
    font-family: 'Playfair Display SC', serif;
    color: white;
	font-size:120px;
}

.center {
    position: absolute;
     width: 100px;
    height: 50px; 
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -80px;  
    text-align:center; 
    vertical-align:middle;
    z-index: 1;
}

html,
body
{
  overflow:hidden;
}

#canv{
    width: 100%;
    height: auto;
}